* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navBar {
  height: 100vh;

  display: flex;
  align-items: center;

  margin: auto;
  position: relative;
  left: 50%;
}


.navBar li {
  /* position: relative; */
  list-style-type: none;
  display: inline;
  width: auto;
  /* display: block; */
  padding: 8px;
  background-color: #dddddd;
  /* justify-content: center; */

  /* margin: auto; */

}

/* .intro video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.intro h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  color: white;
}

section {
  height: 100vh;
  color: black;
}

section h1 {
  padding-top: 300px;
  text-align: center;
  font-size: 80px;
}
.jquery {
  color: blue;
}

.div1 {
  margin: 5px;
  border: 1px solid #ccc;
  float: left;
  width: 180px;

}

.div1 img {
  width="600" height="400";
} */
